<div id="<%= dom_id routine_exercise %>">
  <p>
    <strong>Routine:</strong>
    <%= routine_exercise.routine_id %>
  </p>

  <p>
    <strong>Exercise:</strong>
    <%= routine_exercise.exercise_id %>
  </p>

  <p>
    <strong>Day of week:</strong>
    <%= routine_exercise.day_of_week %>
  </p>

</div>
