<% content_for :title, "Editing routine exercise" %>

<h1>Editing routine exercise</h1>

<%= render "form", routine_exercise: @routine_exercise %>

<br>

<div>
  <%= link_to "Show this routine exercise", @routine_exercise %> |
  <%= link_to "Back to routine exercises", routine_exercises_path %>
</div>
