<% content_for :title, "New routine exercise" %>

<h1>New routine exercise</h1>

<%= render "form", routine_exercise: @routine_exercise %>

<br>

<div>
  <%= link_to "Back to routine exercises", routine_exercises_path %>
</div>
